@import url(./style.css);

.campo{
    display: flex;
}

.campo label{
    flex-basis: 10rem;
}

.campo input[type="text"],
.campo input[type="number"],
.campo input[type="date"]
{
    margin-bottom: 1rem;
    width: 100%;
    border: .8px solid #e1e1e1;
}

.campo input[type="submit"]{
    margin-bottom: 1rem;
    border: .8px solid #e1e1e1;
}
.seccion{
    width: 50%;
    margin: 0 auto;
}

.seccion fieldset{
    border: .8px solid #e1e1e1;
}