@import url(./style.css);

.contenedor {
    margin: 0 auto;
    width: 80%;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  /* Estilos para el encabezado de la tabla */
  thead th {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1rem;
  }
  
  /* Estilos para las celdas de datos */
  tbody td {
    border: 1px solid #ccc;
    padding: 1rem;
  }
  
  /* Estilos alternos para las filas */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para la primera fila de datos */
  /* tbody tr:first-child {
    font-weight: bold;
  } */
  
  a{
    text-decoration: none;
    color: black;
  }

